/*-----------------SECTION 5*/
.container-5 {
  display: flex;
  height: 100vh;
}

.left-5 {
  flex: 1;
  padding: 150px 0 0 40px;
}

.left-5 h1 {
  color: #11c56e;
  font-size: 30px;
  line-height: 34px;
  font-weight: 800;
  font-family:'Inter', sans-serif;
}

.left-5 p {
  font-size: 18px;
  line-height: 28px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  padding: 20px 0;
}

.right-5 {
  flex: 1;
  background-image: url(/img/Nova_Home_Mulher_com_Celular.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}