@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import './header.css';
@import './section-1.css';
@import './section-2.css';
@import './section-3.css';
@import './section-4.css';
@import './section-5.css';
@import './section-6.css';
@import './section-7.css';
@import './section-8.css';
@import './footer.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}